<div id category_season>
  <ul>
    {# <li class="cate_a"><a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}list.php">全て
    </a></li>

  {% for value in cateArr_s %}

   <li class="cate_s"><a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}list.php?ctg_id={{value.ctg_id}}">{{value.category_name}}</a></li>
  
  {% endfor %} #}
      {# {% for value in categories %} #}
        {% for range in priceRanges %}
            <li>
                <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}list.php?ctg_id={{value.ctg_id}}&minPrice={{range.min}}&maxPrice={{range.max}}">{{ range.label }}</a>
            </li>
        {% endfor %}
      {# {% endfor %} #}

  
  </ul>
</div>