
<header> 
  <nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}order/list.php">DT-Health </a>

      {# ハンバーガー外検索 #}
      <form class="search-form search-mobile d-md-none ms-auto" role="search" action="{{ constant('shopping\\Bootstrap::ENTRY_URL') }}order/list.php" method="get">
        <input class="form-control me-2" type="search" name="query" placeholder="キーワード検索" aria-label="Search" id="searchBox" onkeyup="suggest(this.value)">
      </form>
  
       <li class="nav-item">
         <a class="nav-link cart d-md-none" href="{{ constant('shopping\\Bootstrap::ENTRY_URL')}}order/cart.php">
           <i class="bi bi-cart position-relative" style="font-size: 26px;">
             <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-danger" style=" width: 24px; height: 24px; padding: 0; font-size: 13px; line-height: 24px;">
              {# rounded-pillからrounded-circle #}
              {{ sumNum == 0 ? '0' : sumNum }} 
             </span>
           </i> 
         </a>
       </li>

      {# ハンバーガー #}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       
    
      {# 閉じる開く #}
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav ms-auto my-2 my-lg-2 d-flex align-items-center">
        {# ms-auto : 要素を右に寄せる #}
          <form class="d-flex search-form d-md-flex d-none" role="search" action="{{ constant('shopping\\Bootstrap::ENTRY_URL') }}order/list.php" method="get">
            <input class="form-control me-2" type="search" name="query" placeholder="キーワード検索" aria-label="Search" id="searchBox" autocomplete="on">
            {# onkeyup="suggest(this.value)" #}
            {# <button class="btn btn-outline-success" type="submit">search</button> #}
          </form>
          {# 検索結果を表示、サジェスト結果をここに表示 #}
          <div id="suggestions"></div>

{# 
          <li class="nav-item w-100 d-md-none">
            <form class="search-form" role="search" action="{{ constant('shopping\\Bootstrap::ENTRY_URL') }}order/list.php" method="get">
              <input class="form-control me-2" type="search" name="query" placeholder="キーワード検索" aria-label="Search" id="searchBoxMobile">
            </form>
          </li> #}


          <li class="nav-item">
            <a class="nav-link greeting" href="#">こんにちは <span>{{ family_name }}</span> さん！</a>
          </li>

          <li class="nav-item dropdown d-none d-md-block">
            <a class="nav-link dropdown-toggle my-dropdown-toggle account" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              マイアカウント
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}order/profile.php">お客様情報</a></li>
              <li><a class="dropdown-item" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}order/order.php">注文履歴</a></li>
              <li><a class="dropdown-item" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}order/order_detail.php">注文履歴詳細</a></li>
              <li><a class="dropdown-item" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}order/contact.php">お問い合わせ</a></li>
            </ul>

          {# ハンバーガー #}
          <li class="nav-item d-md-none">
            <a class="nav-link nav-custom" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}order/profile.php">お客様情報</a>
            </li>
            <li class="nav-item d-md-none">
              <a class="nav-link nav-custom" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}order/order.php">注文履歴</a>
            </li>
            <li class="nav-item d-md-none">
              <a class="nav-link nav-custom" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}order/order_detail.php">注文履歴詳細</a>
            </li>
            <li class="nav-item d-md-none">
              <a class="nav-link nav-custom" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}order/contact.php">お問い合わせ</a>
            </li>

            


            <li class="nav-item">
              <a class="nav-link cart d-md-flex d-none" href="{{ constant('shopping\\Bootstrap::ENTRY_URL')}}order/cart.php">
                <i class="bi bi-cart position-relative" style="font-size: 26px;">
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-danger" style=" width: 24px; height: 24px; padding: 0; font-size: 13px; line-height: 24px;">    
                    {{ sumNum == 0 ? '0' : sumNum }} 
                    <!-- ここにカート内のアイテム数を動的に表示 -->
                  </span>
                </i> 
              </a>
            </li>
          <li class="nav-item login-out">
            {% if isUserLogin %}
              <a id="logoutButton" class="nav-link click logout-in" href="{{ constant('shopping\\Bootstrap::ENTRY_URL')}}auth/login.php?logout=1" onclick="return logoutConfirm();">ログアウト</a>
            {% else %}
              <a class="nav-link click logout-in" href="{{ constant('shopping\\Bootstrap::ENTRY_URL')}}auth/login.php">ログイン</a>
            {% endif %}
          </li>
          {# ログアウトボタンに onclick イベントを追加し、JavaScriptの関数logoutConfirm()を呼び出す。 #}
        </ul> 
      </div>
    </div>
  </nav> 
</header> 
