<!DOCTYPE html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/login.css" rel="stylesheet" type="text/css" />
    <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/header_auth.css" rel="stylesheet" type="text/css" />
    <title>ログイン</title>
  </head>
  <body>

  {% include 'header_auth.html.twig' %}
  
  <div class="container">
    <div class="login_inner">
      <form action="" method="post">
        <div class="login"> 
          <h1>ログイン</h1>
        </div>
        
        <div class="email">
          <label for="email">メールアドレス</label>
          <input type="email" name="email" value="{{ dataArr.email }}" id="email">
          {% if errArr.email %}
            <p style="color: #f00;">{{ errArr.email }}</p>
          {% endif %}
          {% if delete and not errArr.email %}
           
            <p style="color: #f00; font-weight: 600;">{{ errArr.email }}</p>
          {% endif %}
        </div>  

        <div class="password">
          <label for="password">パスワード</label>
          <input type="password" name="password" 
          value="{{ password }}" id="password">
          {% if errArr.password %}
            <p style="color: #f00; font-size: 18px;">{{errArr.password}}</p>
          {% endif %}
          {% if errArr.login %}
            <p style="color: #f00; font-weight: bold;">{{ errArr.login }}</p>
          {% endif %}
        </div>
          <button type="submit" name="login" value="ログイン" class="login_btn">ログイン</button>  
      </form>
      
      <div class="pass_forget">  
        <p><a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}request_form.php">パスワードを忘れた方はこちら</a></p>
      </div>
      <div class="log_forget">
        <p><a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}regist.php">新規会員登録</a></p>
      </div>
    </div>
    {# contact_inner #}
  </div> 
  {# conteiner #}
 
  </body>
</html>

