<!DOCTYPE html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  
    <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/profile.css" rel="stylesheet" type="text/css" />
    <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/header.css" rel="stylesheet" type="text/css" />
    <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/sidebar.css" rel="stylesheet" type="text/css" />
    <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/footer.css" rel="stylesheet" type="text/css" />
   
    <title>profile</title>
  </head>
  <body>
    <header> 
      {% include 'header.html.twig' %}
     
    <section class="my-5">
      <div class="container">
        <div class="row profile-f">


          {% include 'sidebar.html.twig' %}

        <div class="col-7 customer_info">
          {% if isUserLogin %}
            <h3>お客様情報</h3>
            {# modal btn #}
            <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editProfileModal">編集</button>
              <table class="table-info">
                <tr>
                  <td class="td-info">お名前(氏名)</td>
                  <td class="th-info">{{user.family_name}} {{user.first_name}}</td>
        
                </tr>
                <tr>
                  <td class="td-info">メールアドレス</td>
                  <td class="th-info">{{user.email}}</td>
                  
                </tr>
                <tr>
                  <td class="td-info">生年月日</td>
                  <td class="th-info">{{user.year}}年 {{user.month}}月 {{user.day}}日</td>
              
                </tr>
                <tr>
                  <td class="td-info">郵便番号</td>
                  <td class="th-info">{{user.zip1}} - {{user.zip2}}</td>
                 
                </tr>
                <tr>
                  <td class="td-info">住所</td>
                  <td class="th-info">{{user.address}}</td>
                 
                </tr>
                <tr>
                  <td class="td-info">電話番号</td>
                  <td class="th-info">{{user.tel1}} - {{user.tel2}} - {{user.tel3}}</td>
           
                </tr>
                <tr>
          
              </table>
    
              <form method="post" action="profile.php" id="delete">
              
                <button type="button" class="btn btn-custom" onclick="confirmWithDelete()">退会</button>
                <input type="hidden" name="delete" value="1">
              </form>
              
              {% else %}
                <p style="color: #f00; padding: 20px 0;">購入履歴を表示するには、<a href="login.php" style="text-decoration: underline;">新規会員登録またはログイン</a>してください。</p>  
              {% endif %}
            </div>
            {# col-7 #}
          </div>
        </div>
      </section>
      <section>
        <div class="container mt-4">
          <!-- Modal -->
          <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
              
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="profile.php" method="POST" id="updateForm">
                  <div id="message"></div>
                  <div class="mb-3">
                    <label for="modalFamilyName" class="form-label">名前(氏)</label>
                      <input type="text" class="form-control" id="modalFamilyName" name="family_name" value="{{user.family_name}}">
                  </div>
                  <div class="mb-3">
                    <label for="modalFirstName" class="form-label">名前(名)</label>
                    <input type="text" class="form-control" id="modalFirstName" name="first_name" value="{{user.first_name}}">
                  </div>
                  <div class="mb-3">
                    <label for="modalEmail" class="form-label">メールアドレス</label>
                    <input type="email" class="form-control" id="modalEmail" name="email" value="{{user.email}}">
                  </div>
                  <div class="mb-3">
                    <label for="modalBirthdate" class="form-label">生年月日</label>
                      <div class="Birthdate-number">
                        <input type="text" class="form-control Birthdate-input" id="modalBirthdate" name="year" value="{{user.year}}年">
                        <input type="text" class="form-control Birthdate-input" id="modalBirthdate" name="month" value="{{user.month}}月">
                        <input type="text" class="form-control Birthdate-input" id="modalBirthdate" name="day" value="{{user.day}}日">
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="modalZipcode" class="form-label">郵便番号</label>
                        <div class="zip-number">
                          <input type="text" class="form-control zip-input" id="modalZipcode" name="zip1" value="{{user.zip1}}" maxlength="3"> 
                          <input type="text" class="form-control zip-input" id="modalZipcode" name="zip2" value="{{user.zip2}}" maxlength="4">
                        </div>
                    </div>                                   
                    <div class="mb-3">
                    <label for="modalAddress" class="form-label">住所</label>
                    <input type="text" class="form-control" id="modalAddress" name="address" value="{{user.address}}">
                    </div>
                    <div class="mb-3">
                      <label for="modalPhone" class="form-label">電話番号</label>
                      <div class="phone-number">
                        <input type="text" class="form-control phone-input"  name="tel1" value="{{user.tel1}}">
                        <input type="text" class="form-control phone-input" name="tel2" value="{{user.tel2}}">
                        <input type="text" class="form-control phone-input" name="tel3" value="{{user.tel3}}">
                      </div>
                    </div>
                    <div class="modal-footer button-modal">
                      <button type="submit" class="btn btn-secondary btn-left" data-bs-dismiss="modal">閉じる</button>
                      
                      <button type="submit"  class="btn btn-primary btn-right">保存</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        <section>

       {% include 'footer.html.twig' %}
 
  <script src="{{constant('shopping\\Bootstrap::APP_URL')}}js/logout.js"></script>
  
  </body>
</html>