<!DOCTYPE html>
  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{constant('shopping\\Bootstrap::APP_URL')}}js/common.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/header_auth.css" rel="stylesheet" type="text/css" />
  <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/request_form.css" rel="stylesheet" type="text/css" />
  <title>パスワード再設定</title>
  </head>
  <body>
  <header>
    {% include 'header_auth.html.twig' %}
   
  <div class="request-form">
    <h3>パスワード再設定</h3>
    <form action="" method="post">
      <label for="email">メールアドレス</label>
      <input type="email" name="email" id="email" class="email">
        {% if errArr is defined %}
          <div class="error-message">
            {% for key, message in errArr %}
              <p>{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}

      <input type="submit" name="click" value="認証してメール送信">
    </form>

    <p><a href="{{constant('shopping\\Bootstrap:ENTRY_URL')}}login.php">ログイン画面へ戻る</a></p>
  </div>
    
  </body>
  </html>